<!DOCTYPE html>
<html>
<head>
    <title>Places {{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
{{title}}
<br />
<br />
<audio src="{{audio}}" autoplay controls="true">Not supported</audio>

</body>
</html>
